<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  
    <connectionStrings>
    <add name="CHIEFGUEST" connectionString="Server=SG2NWPLS19SQL-v09.mssql.shr.prod.sin2.secureserver.net;Database=dbChiefguest;User ID=dbChiefguest;Password=dbChiefguest123@;Connect Timeout=60;"/>
  </connectionStrings>

  <system.web>
    <trust level="Full" />
    <compilation debug="true" tempDirectory="G:\PleskVhosts\duffld.com\tmp" />
    <httpRuntime />
    <customErrors mode="Off" />
    <machineKey validationKey="1989DE8628F5513F32ECE6D9C157C36DE588851D47D9D3C4CDBA0A13E3ECCE5E84B0CC4DDA15AA69BB53C996E5B9AD26902B83B2D906C0A92C06B3158C8DF157" decryptionKey="A80BABBF73C9ABD77AE3B6FA747C2F19012D3C91BB5B0AC06C56B5F8D07C3D53" validation="SHA1" decryption="AES" />
  </system.web>

    <system.net>

    <mailSettings>
      <smtp>
       <network host="relay-hosting.secureserver.net" userName="forms@quick-query.info" password="forms2021#" />
      </smtp>
    </mailSettings>
  </system.net>


  <system.webServer>
    <httpErrors>
      <remove statusCode="400" />
      <error statusCode="400" path="G:\PleskVhosts\duffld.com\error_docs\bad_request.html" />
      <remove statusCode="401" />
      <error statusCode="401" path="G:\PleskVhosts\duffld.com\error_docs\unauthorized.html" />
      <remove statusCode="403" />
      <error statusCode="403" path="G:\PleskVhosts\duffld.com\error_docs\forbidden.html" />
      <remove statusCode="404" />
      <error statusCode="404" path="G:\PleskVhosts\duffld.com\error_docs\not_found.html" />
      <remove statusCode="405" />
      <error statusCode="405" path="G:\PleskVhosts\duffld.com\error_docs\method_not_allowed.html" />
      <remove statusCode="406" />
      <error statusCode="406" path="G:\PleskVhosts\duffld.com\error_docs\not_acceptable.html" />
      <remove statusCode="407" />
      <error statusCode="407" path="G:\PleskVhosts\duffld.com\error_docs\proxy_authentication_required.html" />
      <remove statusCode="412" />
      <error statusCode="412" path="G:\PleskVhosts\duffld.com\error_docs\precondition_failed.html" />
      <remove statusCode="414" />
      <error statusCode="414" path="G:\PleskVhosts\duffld.com\error_docs\request-uri_too_long.html" />
      <remove statusCode="415" />
      <error statusCode="415" path="G:\PleskVhosts\duffld.com\error_docs\unsupported_media_type.html" />
      <remove statusCode="500" />
      <error statusCode="500" path="G:\PleskVhosts\duffld.com\error_docs\internal_server_error.html" />
      <remove statusCode="501" />
      <error statusCode="501" path="G:\PleskVhosts\duffld.com\error_docs\not_implemented.html" />
      <remove statusCode="502" />
      <error statusCode="502" path="G:\PleskVhosts\duffld.com\error_docs\bad_gateway.html" />
      <remove statusCode="503" />
      <error statusCode="503" path="G:\PleskVhosts\duffld.com\error_docs\maintenance.html" />
    </httpErrors>
    <tracing>
      <traceFailedRequests>
        <clear />
      </traceFailedRequests>
    </tracing>
  </system.webServer>

</configuration>